<tr class="w3-hover-green">
    <td>#</td>
    <td class="w3-hover-blue">
        <%= link_to(group.title, group_path(group)) %>
    </td>
    <td><%= link_to(render_group_description(group), group_path(group)) %></td>
    <td><%= group.user.email %></td>
    <td>
        <% if current_user && current_user == group.user %>
            <%= link_to("Edit", edit_group_path(group), class: "btn btn-sm btn-default") %>
                <%= link_to("Delete", group_path(group), method: :delete, class: "btn btn-sm btn-default", data: {confirm: "Are you sure ?"}) %>
        <% end %>
    </td>
</tr>