<div class="col-md-12 col-sm-12 col-xs-12 groups">
    <div class="group">
        <%= link_to("New Group", new_group_path, class: "btn btn-success pull-right") %>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <td>#</td>
                <td>Title</td>
                <td>Description</td>
                <td>Creator</td>
            </tr>
        </thead>
        <tbody>
            <% @groups.each do |group| %>
                <tr class="w3-hover-green">
                    <td>#</td>
                    <td class="w3-hover-blue">
                        <%= link_to(group.title, group_path(group)) %>
                    </td>
                    <td><%= link_to(render_group_description(group), group_path(group)) %></td>
                    <td><%= group.user.email %></td>
                    <td>
                        <% if current_user && current_user == group.user %>
                            <%= link_to("Edit", edit_group_path(group), class: "btn btn-sm btn-default") %>
                                <%= link_to("Delete", group_path(group), method: :delete, class: "btn btn-sm btn-default", data: {confirm: "Are you sure ?"}) %>
                        <% end %>
                    </td>
                </tr>
                <% end %>
        </tbody>
    </table>
    
    <!-- will_paginate css, post and group are compatible -->
    <div class="flickr_pagination">
        <div class="page_info">
          <%= page_entries_info @groups %>
        </div>
        <%= will_paginate @groups, :container => false %>
    </div>    
</div>

<!-- music start 目前发现只能放在html里，不能移到js文件里-->

<a id="btn-music" class="btn-music"></a>
<audio class="music" autoplay controls mute loop hidden>
    <source src="Eutopia.mp3" type="audio/mpeg">
</audio>
<script type="text/javascript">
    let playMusic = true;
    document.getElementById("btn-music").addEventListener("click", function() {
        playMusic = !playMusic;
        document.getElementById("btn-music").classList.toggle('music-off');
        playMusic ? document.querySelector('.music').play() : document.querySelector('.music').pause();
    });
    worldMusic.volume = 0.8; //预设音量，貌似无效啊。。。
</script>

<!-- music end -->
