<div class="container-fluid">
    <div class="row">
        <div class="box col-md-12">
            <div class="customed-flash">
                <%= render "common/flashes" %>
            </div>
            <div class="box-inner col-md-6 col-md-offset-3">
                <h1 class="title">Bboy in China</h1>
                <p class="slogan">Dance listing 是一个可以找寻附近专职霹雳舞的舞蹈老师
                    <br> 我们希望借由这个网站，能让大家离开地球表面。
                    <br> 努力对抗地心引力吧！
                </p>
                <p class="lead">
                    <%= link_to '立即寻找', '#', class: 'btn btn-danger btn-lg' %>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="box2 col-md-12">
            <div class="box-inner col-md-6 col-md-offset-3">
                <h1 class="title">Bboy in China</h1>
                <p class="slogan">Dance listing 是一个可以找寻附近专职霹雳舞的舞蹈老师
                    <br> 我们希望借由这个网站，能让大家离开地球表面。
                    <br> 努力对抗地心引力吧！
                </p>
                <p class="lead">
                    <button type="马上配置" class="btn btn-primary">
                        <%= link_to("马上配置", '#') %>
                    </button>
                    <%= link_to '立即寻找', '#', class: 'btn btn-danger btn-lg' %>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">沙滩</h2>
                <p class="lead">当你尝试离开地表，成为在海边的焦点吧！</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <%= image_tag 'pic-1.png', class: 'img-responsive' %>
            </div>
        </div>
    </div>
</div>
<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">桌子</h2>
                <p class="lead">如果你想拍出漂亮照片，桌子是最佳配角</p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <%= image_tag 'pic-2.png', class: 'img-responsive' %>
            </div>
        </div>
    </div>
</div>
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">高山</h2>
                <p class="lead">当然，你也可以挑战在高山挑战离开地球表面的极限</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <%= image_tag 'pic-3.png', class: 'img-responsive' %>
            </div>
        </div>
    </div>
</div>
<div>
    <h1>Hello World !Hello World !Hello World !Hello World !</h1>
    <h1>Hello World !Hello World !Hello World !Hello World !</h1>
    <h1>Hello World !Hello World !Hello World !Hello World !</h1>
    <h1>Hello World !Hello World !Hello World !Hello World !</h1>
    <h1>Hello World !Hello World !Hello World !Hello World !</h1>
    <p>
        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Link with href
      </a>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Button with data-target
        </button>
    </p>
    <div class="collapse" id="collapseExample">
        <div class="card card-block">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        </div>
    </div>
    <div id="accordion" role="tablist" aria-multiselectable="true">
        <div class="card">
            <div class="card-header" role="tab" id="headingOne">
                <h5 class="mb-0">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Collapsible Group Item #1
            </a>
          </h5>
            </div>
            <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="card-block">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingTwo">
                <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Collapsible Group Item #2
            </a>
          </h5>
            </div>
            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="card-block">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingThree">
                <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Collapsible Group Item #3
            </a>
          </h5>
            </div>
            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="card-block">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                </div>
            </div>
        </div>
    </div>
</div>