<div class="container-fluid">
    <div class="row">
        <div class="box col-md-12">
            <div class="customed-flash">
                <%= render "common/flashes" %>
            </div>
            <div class="box-inner col-md-6 col-md-offset-3">
                <h1 class="title">Ruby in China</h1>
                <p class="slogan">轻松创建美观强大的网站，无需专业技术知识与设计经验。
                    <br> 注册即表示你已同意 服务条款 和 法律声明。
                    <br> 完善的电子商务功能，不收交易佣金，支持支付宝、微信支付方式
                </p>
                <p class="lead">
                    <%= link_to '立即寻找', '#', class: 'btn btn-danger btn-lg' %>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="box2 col-md-12">
            <div class="box-inner col-md-6 col-md-offset-3">
                <h1 class="title">SXL in China</h1>
                <p class="slogan">轻松创建美观强大的网站，无需专业技术知识与设计经验。
                    <br> 超过 1000+ 张高清、精致图片可供选择
                    <br> 丰富图片素材下载
                </p>
                <p class="lead">
                    <button type="马上配置" class="btn btn-primary">
                        <%= link_to("马上配置", '#') %>
                    </button>
                    <%= link_to '立即寻找', '#', class: 'btn btn-danger btn-lg' %>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">第三方服务集成</h2>
                <p class="lead">与微信公众号深度集成，并提供第三方服务如百度地图、金数据表单等
                </p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <%= image_tag 'ny.png', class: 'img-responsive' %>
            </div>
        </div>
    </div>
</div>
<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">撰写文章</h2>
                <p class="lead">极简设计，方便管理，让你的访客第一时间了解网站动态资讯，每篇文章都拥有独立页面
                </p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <%= image_tag 'la.png', class: 'img-responsive' %>
            </div>
        </div>
    </div>
</div>
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">数据分析</h2>
                <p class="lead">网站内设有浏览量数据监测，简易图表助你时刻掌握流量动向</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <%= image_tag 'chicago.png', class: 'img-responsive' %>
            </div>
        </div>
    </div>
</div>
<div>
    <h1>Hello World !Hello World !Hello World !Hello World !</h1>
    <h1>Hello World !Hello World !Hello World !Hello World !</h1>
    <h1>Hello World !Hello World !Hello World !Hello World !</h1>
    <h1>Hello World !Hello World !Hello World !Hello World !</h1>
    <h1>Hello World !Hello World !Hello World !Hello World !</h1>
    <p>
        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Link with href
      </a>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Button with data-target
        </button>
    </p>
    <div class="collapse" id="collapseExample">
        <div class="card card-block">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        </div>
    </div>
    <div id="accordion" role="tablist" aria-multiselectable="true">
        <div class="card">
            <div class="card-header" role="tab" id="headingOne">
                <h5 class="mb-0">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Collapsible Group Item #1
            </a>
          </h5>
            </div>
            <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="card-block">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingTwo">
                <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Collapsible Group Item #2
            </a>
          </h5>
            </div>
            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="card-block">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingThree">
                <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Collapsible Group Item #3
            </a>
          </h5>
            </div>
            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="card-block">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <%= image_tag 'la.png', class: 'img-responsive' %>
                    <div class="carousel-caption">
                        <h3>Flowers</h3>
                        <p>Beautiful flowers in Kolymbari, Crete.</p>
                    </div>
            </div>
            <div class="item">
                <%= image_tag 'chicago.png', class: 'img-responsive' %>
                    <div class="carousel-caption">
                        <h3>Flowers</h3>
                        <p>Beautiful flowers in Kolymbari, Crete.</p>
                    </div>
            </div>
            <div class="item">
                <%= image_tag 'ny.png', class: 'img-responsive'%>
                    <div class="carousel-caption">
                        <h3>Flowers</h3>
                        <p>Beautiful flowers in Kolymbari, Crete.</p>
                    </div>
            </div>
        </div>
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
    </div>
</div>

