<!-- landing page box&box2 -->
<div class="container-fluid">
    <div class="row">
        <div class="box col-md-12">
            <div class="box-inner col-md-6 col-md-offset-3">
                <h1 class="title">Ruby in China</h1>
                <p class="slogan">轻松创建美观强大的网站，无需专业技术知识与设计经验。
                    <br> 注册即表示你已同意 服务条款 和 法律声明。
                    <br> 完善的电子商务功能，不收交易佣金，支持支付宝、微信支付方式
                </p>
                <p class="lead">
                    <%= link_to '立即寻找', '#', class: 'btn btn-danger btn-lg' %>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="box2 col-md-12">
            <div class="box-inner col-md-6 col-md-offset-3">
                <h1 class="title">SXL in China</h1>
                <p class="slogan">轻松创建美观强大的网站，无需专业技术知识与设计经验。
                    <br> 超过 1000+ 张高清、精致图片可供选择
                    <br> 丰富图片素材下载
                </p>
                <p class="lead">
                    <button type="马上配置" class="btn btn-primary">
                        <%= link_to("马上配置", '#') %>
                    </button>
                    <%= link_to '立即寻找', '#', class: 'btn btn-danger btn-lg' %>
                </p>
            </div>
        </div>
    </div>
</div>
<!--以下几种视频的写法 video 1 box3 -->
<div class="container-fluid">
    <div class="row">
        <div class="box3 ">
            <video class="video-background" width="320" height="240" controls autoplay loop mute>
                <source src="Show.mp4" type="video/mp4">
            </video>
            <div class="box-inner col-sm-4 col-xs-12">
                <!--这里小心 原来是col-md-6 col-md-offset-3 会有不一样的效果-->
                <h1 class="title">SXL in China</h1>
                <p class="slogan">轻松创建美观强大的网站，无需专业技术知识与设计经验。
                    <br> 超过 1000+ 张高清、精致图片可供选择
                    <br> 丰富图片素材下载
                </p>
                <p class="lead">
                    <button type="马上配置" class="btn btn-primary">
                        <%= link_to("马上配置", '#') %>
                    </button>
                    <%= link_to '立即寻找', '#', class: 'btn btn-danger btn-lg' %>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- video 2 box4 元气少女-->
<div class="container-fluid">
    <div class="row">
        <div class="box4 ">
            <div class="container-video w3-display-container w3-text-white">
                <video autoplay="" preload="true" loop="" muted="" style="height: 100%; width: 100%; margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px;">
                    <source src="http://images.lululemon.com/is/content/lululemon/homepageAssets/Hero%20video/traintime_5sec_updated.mp4" type="video/webm">
                    <img src="https://images.lululemon.com/is/image/lululemon/gbl_may23_traintimes_Hero_Homepage_whatsnew?$gsr_homehero_2x1_lg$" title="Your browser does not support the <video> tag">
                </video>
                <div class="w3-display-middle w3-jumbo text-center">
                    <br>
                    <br>
                    <img src="http://i1.piimg.com/519918/13309dbd2096ba35.png" alt="BosGalRun" style="width:25%">
                    <p style="font-size: 32px;">- BosGalRun -</p>
                    <p style="font-size: 32px;">元气少女慢跑社区</p>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- enabled pause video 3 box5 -->
<div class="container-fluid">
    <div class="row">
        <div class="box5 ">
            <div class="embed-responsive embed-responsive-16by9 ">
                <iframe src="https://player.vimeo.com/video/87690092?color=ffffff&title=0&byline=0&portrait=0" class="hero-video-player__element responsive-embed__element video-jobbg " width=100%; height=100%; frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
            <div class="back">
                <%= link_to "返回首页", "#" %>
            </div>
        </div>
    </div>
</div>
<!-- 黄宏亮视频 -->
<div class="container-fluid">
    <div class="row">
        <div class="home-video-hero box6">
            <div class="video-frame" data-video="/evernote.com/video/homepage/homepage-hero-video" data-image="/evernote.com/img/homepage/homepage-hero-video-desktop-still.jpg" data-mobile="/evernote.com/img/homepage/homepage-hero-video-mobile-still.jpg">
                <div class="video-overlay"></div>
                <video autoplay="autoplay" loop="loop" poster="https://cdn1.evernote.com/evernote.com/img/homepage/homepage-hero-video-desktop-still@2x.jpg">
                    <source class="webm" type="video/webm" src="https://cdn1.evernote.com/evernote.com/video/homepage/homepage-hero-video@2x.webm">
                    <source class="mp4" type="video/mp4" src="https://cdn1.evernote.com/evernote.com/video/homepage/homepage-hero-video@2x.mp4">
                </video>
                <div class="content-container col-sm-4 col-xs-12">
                    <div class="content">
                        <h2>轻松找到全栈好工作</h2>
                        <div class="line"></div>
                        <br>
                        <h3 class="sub-cop">工作无处不在。在这里，帮你连接整个职缺市场，放心学习，轻松找Rails全栈工作。</h3>
                        <div class="col-xs-3 col-xs-offset-4">
                            <%= link_to("立即发简历", "#", class: "btn btn-lg btn-success") %>
                        </div>
                        <div class="col-xs-3 col-xs-offset-1">
                            <%= link_to("立即发职位", "#", class: "btn btn-lg btn-success") %>
                        </div>
                    </div>
                    <img src="https://cdn1.evernote.com/evernote.com/img/homepage/homepage-hero-video-desktop-still@2x.jpg" class="mobile-fallback" alt="" style="display: none;">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Content 图文内容 -->
<div class="content-section-a">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">第三方服务集成</h2>
                <p class="lead">与微信公众号深度集成，并提供第三方服务如百度地图、金数据表单等
                </p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <%= image_tag 'ny.png', class: 'img-responsive' %>
            </div>
        </div>
    </div>
</div>
<div class="content-section-b">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">撰写文章</h2>
                <p class="lead">极简设计，方便管理，让你的访客第一时间了解网站动态资讯，每篇文章都拥有独立页面
                </p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <%= image_tag 'la.png', class: 'img-responsive' %>
            </div>
        </div>
    </div>
</div>
<div class="content-section-a">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">数据分析</h2>
                <p class="lead">网站内设有浏览量数据监测，简易图表助你时刻掌握流量动向</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <%= image_tag 'chicago.png', class: 'img-responsive' %>
            </div>
        </div>
    </div>
</div>
<!-- Carousel 轮播图 -->
<div class="carousel_image">
    <div class="container">
        <div class="row">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <%= image_tag 'la.png', class: 'img-responsive' %>
                            <div class="carousel-caption">
                                <h3>Flowers</h3>
                                <p>Beautiful flowers in Kolymbari, Crete.</p>
                            </div>
                    </div>
                    <div class="item">
                        <%= image_tag 'chicago.png', class: 'img-responsive' %>
                            <div class="carousel-caption">
                                <h3>Flowers</h3>
                                <p>Beautiful flowers in Kolymbari, Crete.</p>
                            </div>
                    </div>
                    <div class="item">
                        <%= image_tag 'ny.png', class: 'img-responsive'%>
                            <div class="carousel-caption">
                                <h3>Flowers</h3>
                                <p>Beautiful flowers in Kolymbari, Crete.</p>
                            </div>
                    </div>
                </div>
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
            </div>
        </div>
    </div>
</div>
<!-- test collapse 钩子示例 -->
<div class="welcome_content">
    <div class="container-fluid">
        <div class="row">
            <h1>Hello World !Hello World !Hello World !Hello World !</h1>
            <h1>Hello World !Hello World !Hello World !Hello World !</h1>
            <h1>Hello World !Hello World !Hello World !Hello World !</h1>
            <h1>Hello World !Hello World !Hello World !Hello World !</h1>
            <h1>Hello World !Hello World !Hello World !Hello World !</h1>
            <p>
                <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Link with href
      </a>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Button with data-target
                </button>
            </p>
            <div class="collapse" id="collapseExample">
                <div class="card card-block">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                </div>
            </div>
            <div id="accordion" role="tablist" aria-multiselectable="true">
                <div class="card">
                    <div class="card-header" role="tab" id="headingOne">
                        <h5 class="mb-0">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Collapsible Group Item #1
            </a>
          </h5>
                    </div>
                    <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="card-block">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="headingTwo">
                        <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Collapsible Group Item #2
            </a>
          </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="card-block">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="headingThree">
                        <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Collapsible Group Item #3
            </a>
          </h5>
                    </div>
                    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="card-block">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 500 not found -->
<div class="show500" id="errors">
    <div class="container-fluid">
        <div class="row">
            <canvas id="error" width="1326" height="689"></canvas>
            <div class="l-container-center l-container--tiny text-page">
                <div class="l-lg-12">
                    <h1 class="error__title">500</h1>
                    <h2 class="error__subtitle">Ouch, something went wrong!</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="assets/canvas.js"></script>

<!-- backtop -->
<div class="backtop">
 <span class="fa fa-chevron-up"></span>
</div>
